body{
    background-image: url("./src/Back.jpg");
    display: block;
    background-color:#0b7ce04b;
    font-family: 'Roboto', sans-serif;
    
}

header{
    display: flex;
    font-size:170%;
    align-items:center;
    justify-content:space-around;    
    padding:1%;
    background-color: #ffffff53;
}

h1{
    margin: 1%;
    font-weight: bolder;
}

#alura-logo{
    width: auto;
}

.text-boxes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;           
}

#input-area, #output-area{
    display:flex;
    flex-direction: column;
    width: 30%;    
    padding-left: 5%;
    padding-right: 5%;
}

#central-items{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 30%;   
     
}

#buttons{
    display:flex;
    flex-direction: column;
    align-items:normal;
}

#in-text{
    resize: none;
    border-radius: 10%;
    padding: 10px;   
    margin-top: 20px;
}

#out-text{
    resize: none;
    pointer-events: none;
    border-radius: 10%;
    padding: 10px;   
}

button{
    color: black;
    margin: 5px;
    padding: 5px 0;
    font-size: 15px;
    font-weight:bold;
    border-radius: 10px;
    
}

button:hover{

    color:white;
    transition: 300ms;
    transform: scale(0.97);
    opacity: 0.9;

}

#encrypt{
    margin-top: 20px;
    background-color: #E8630A;
}

#decrypt{
    background-color: #FCD900;
}

#copy{
    margin-top: 20px;
    background-color: #0a7940;
}
#hide-message{
    background-color: #ffffffa4;
    font-weight:600;
    border: solid #E8630A;
    border-radius: 5px;
    font-size: 70%;
    text-align: center;
    margin-top: 10px;
    padding: 5px;
    opacity: 0%;
}

#meme{
    width: 90%;
    border: solid blueviolet; 
    box-shadow: 10px 10px 7px ;
    margin: 10px;
    margin-bottom: 20px;
}

footer{
    position:fixed;
    width: 100%;
    bottom:0px;
    font-weight: bolder;
    background: linear-gradient(#d9e8f4ef, #7aa5cb6a);
    border-top: solid 2px rgba(137, 43, 226, 0.248);
    text-align: center;
    padding-top: 8px;
    padding-bottom:25px;
    height: 1px;
}

@media screen and (max-width:760px) {
    .text-boxes{
        flex-direction: column;
        
}
    #input-area, #output-area, #central-items{
        width: 80%;       
    }

    header{
        font-size: 90%;
    }

    #alura-logo{
        width:40%
    }

    #meme{
        width: 60%;    
    }
    
    footer{
        position:static;

}
}
